
*
	font-family: Jost
	transition: 0.3s
	padding: 0 
	margin: 0 
.container
	padding: 0 0
.container_grid
	padding: 0 150px
@import "base/variables"
@import "blocks/header"
@import "blocks/promo"
@import "blocks/question"
@import "blocks/updates"
@import "blocks/properties"
@import "blocks/testimonials"
@import "blocks/footer"
@import "base/media"