.properties
    padding: 100px 0
    position: relative
    &_wrapper
        display: flex
        flex-direction: column
        align-items: center
        &_title
            color: #0F1015
            text-align: center
            font-family: Playfair Display
            font-size: 40px
            font-weight: 700
        &_subtitle
            margin-top: 10px
            color: #A4A6AC
            text-align: center
            font-size: 16px
            font-weight: 400
        &_bg
            margin-top: 50px
            background: url('../image/Properties/Properties_bg.png') center (center/cover) no-repeat
            width: 100%
            height: 500px
            border-radius: 16px
        &_desrc-block
            display: inline-block
            padding: 20px
            border-radius: 10px
            background: #3E54EB
            backdrop-filter: blur(10px)
            color: #FFF
            transform: translate(524px, 275px)
            z-index: 1
            &_title
                font-family: Playfair Display
                font-size: 24px
                font-weight: 700
            &_price
                margin-top: 10px
                font-size: 20px
                font-weight: 400
            &_desrc
                margin-top: 10px
                font-size: 16px
                font-weight: 400
            &_options
                list-style-type: none
                display: flex
                justify-content: flex-start
                align-items: center
                gap: 20px
                align-items: center
                margin-top: 16px
                padding: 0
                span
                    margin-left: 10px
                    font-size: 16px
                    font-weight: 400
            &_btn
                margin-top: 30px
                color: #FFF
                font-size: 16px
                font-weight: 400
                padding: 17px 49px
                border-radius: 10px
                background: none
                border: 1px solid #FFF
                transition: 0.7s
                &:hover
                    background: #fff
                    color: $main-color
    &_rounds_first
        position: absolute
        left: 60px
        top: 52px
    &_rounds_second
        position: absolute
        right: 0px
        bottom: -25px
        z-index: 1
    &_agents
        margin-top: 200px
        &_title
            color:  #0F1015
            font-family: Playfair Display
            font-size: 40px
            font-weight: 700
        &_desrc
            margin-top: 10px
            color: #A4A6AC
            font-size: 16px
            font-weight: 400
        &_wrapper
            margin-top: 50px
            display: flex
            justify-content: space-between
            &_vl
                background: rgba(164, 166, 172, 0.2)
                width: 1px
            &_visitcard
                display: inline-flex
                flex-direction: column
                &_agent
                    width: 100%
                    border-radius: 10px
                    &_odd
                        margin-top: 20px
                &_name
                    margin-top: 20px
                    color: #0f1015
                    font-family: Playfair Display
                    font-size: 24px
                    font-weight: 700
                    &_odd
                        margin-top: 0
                &_post
                    margin-top: 10px
                    color: #A4A6AC
                    font-size: 16px
                    font-weight: 400
                &_desrc
                    margin-top: 20px
                    max-width: 339px
                    color: #0F1015
                    font-size: 16px
                    font-weight: 400
